<!-- The code for the footer on the front-end -->

<div class="footercolumncontainer">
	<div class="footercol1">
		<h2>Market Trak</h2>
	</div>
	<div class="footercol2">
		<h3>Company</h3>
		<br>
		<a href="/">Home</a>
		<a href="/about" >About</a>
		<a href="/#pricing-anchor-point">Shop</a>
		<a href="/contact">Contact</a>
		<a href="/login">Login</a>
		<a href="/signup">Signup</a>
	</div>
</div>