<!-- The code for the banner on the front-end -->

<div id="Banner">
	<div class="bannerLogin">
			<a href="/signup" class="signupMenuButton">Signup</a>
			<a href="/login" class="loginMenuButton">Login</a>
	</div>
	<p id="pages"> 
			<a href="/" class="logo">MarketWatch</a>
			<a href="/contact" class="menuItem">Contact</a> 
			<a href="/about" class="menuItem">About</a>
			<a href="/#pricing-anchor-point" class="menuItem">Shop</a>
	</p>
</div>