<!DOCTYPE html>
<html>
  <head>
		<%- include ("partials/frontEndHead") %>
  </head>
  <body>
    <script src="script.js"></script>

		<%- include ("partials/frontEndBanner") %>
    
    <div class="aboutSync">
      <div class="container">
        <h1>About MarketWatch</h1>
        <br>
        <h3>MarketWatch is the perfect platform to learn to become educated about trading. Investing in the share market is extremely difficult to learn as a beginner. For new investors, it is easy to miss potentially profitable trades due to a lack of knowledge or experience. As modern-day trading platforms provide an all in one solution, they are often extremely cluttered with information and jargon that beginners may be confused or scared off by. MarketWatch intends to solve this problem by being an elegant, simple platform that educates users on the basics of share market investing. Furthermore, MarketWatch provides features that allow users to track their desired shares as well as be notified regarding other potential profitable trades that they may not yet be aware of. The scope of the project is to have a usable web app that uses APIs to retrieve share market data and send notifications to the user. Ultimately, the platform should be a useful tool for trading on the stock market as well as be an educational platform for those new to trading. </h3>
        </div>
    </div>

    <footer>   
			<%- include ("partials/frontEndFooter") %>
    </footer>

    </div> 

  </body>
</html>