<html>
  <head>

		<%- include ("partials/dashboardHead") %>

  </head>
  <body>

		<%- include ("partials/dashboardMenu") %>
		
			<div class="main_container">
				<div class="item">
					<div class="userContainer">
						<h2>Coming Soon!</h2>
				
					</div>
				</div>
			</div> 

	</div> <!-- dashboardMenu final div (wrapper) -->
  </body>

<script>

<%- include ("partials/frontEndJS") %>

</script>

</html>


