<html>
  <head>

		<%- include ("partials/dashboardHead") %>

  </head>
  <body>

	<%- include ("partials/dashboardMenu") %>
		<div class="main_container">
			<div class="item">
				<div class="userContainer">
					<video width=100% height="960" controls>
						<source src="videos/MarketwatchTutorial.mp4" type="video/mp4">
					</video>
				</div>
			</div>
		</div> 
	</div> <!-- dashboardMenu final div (wrapper) -->

  </body>

<script>

<%- include ("partials/frontEndJS") %>

</script>

</html>


